@keyframes spin {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}


* {
    box-sizing: border-box;
    outline: none;
}
  
html, body {
    width:100%;
    margin:0;
    padding:0;
    font-family: Trebuchet MS;
    background-color: rgb(20, 20, 30);
}

h1 {
    margin-bottom: 0;
}

input[type="file"], input[type="submit"] {
    display: none;
}

ul {
    margin: 0;
}

textarea {
    resize: none;
 }

 .main {
    margin-top: 50px;
 }

/* header */

#header a {
    color:white;
    cursor: pointer;
    transition: all 0.2s;
}

#header {
    height: 80px;
    color: white;
    font-size: 16px;
    background-color: blueviolet;
    box-shadow: 0px 5px 20px rgb(0, 0, 0);
}

#header h1 {
    font-size: 28px;
}

.list-inline-item {
    padding-left: 15px;
    padding-right: 15px;
}

.error-page {
    max-width: 800px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.button {
    display: flex;
    justify-content: center;
    min-width: 200px;
    height: 49px;
    background-color:blueviolet;
    color: rgb(20, 20, 30);
    font-size: 26px;
    font-weight: bold;
    border: none;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}

.button:not(.disabled):hover {
    color: white;
}

.button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: auto;
    border: 0.15em solid white;
    border-right: 0.15em solid lightgray;
    border-left: 0.15em solid lightgray;
    animation: spin 1s ease infinite;
}

.connect {
    margin-top: 10px;
}

/* upload image */

#upload-image {
    height: 400px;
}

#upload-image > div {
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 10px;
}

#choose-image {
    color: white;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 0px;
}

#choose-image:hover {
    text-decoration: underline;
}

#form-top {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#image-description {
    color: lightgray;
    margin-top: 20px;
    margin-bottom: 15px;
}
#input-description {
    width: 100%;
    border: 1px solid rgb(30, 30, 40);
    background-color: rgb(30, 30, 40);
    color: lightgray;
    margin-top: 10px;
    padding: 5px;
}

textarea.form-control:focus {
    box-shadow: 0px 0px 5px blueviolet;
}

/* image */

.image-container {
    margin-top: 20px;
    height: 350px;
    width: 250px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(30, 30, 40);
    border-radius: 10px;
    transition: 0.1s all;
    user-select: none;
}

.image-container:hover {
    box-shadow: 0px 0px 10px blueviolet;
    transform: scale(1.025);
}

.image {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.image-info {
    padding: 5px;
    padding-left: 10px;
    height: 100px;
    color: white;
    background-color: blueviolet;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image-info-left {
    float: left;
    width: 80%;
}

.image-info-right {
    float: left;
    width: 20%;
    text-align: center;

    height: 63px;
    color:rgb(20, 20, 30);
    font-size: 26px;
}

.image-info-right > span {
    display: block;
    margin-top: 10px;
    color: rgb(30, 30, 40);
    cursor: pointer;
    transition: 0.2s all;
}

.image-info-right > span.likes {
    color: white;
    margin-top: -10px;
    font-size: 16px;
}

.image-info-right > span.disabled {
    color: white;
    cursor: default;
}

.image-info-right > span.enabled:hover {
    color: lightgray;
}

.image-info-desc {
    display: flex;
    align-items: center;
    word-break: break-all;
    font-size: 14px;
    height: 63px;
}

.image-info-author {
    clear: both;
    font-size: 12px;
    color: lightgray;

    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-info-author > .address {
    cursor: pointer;
    color: lightgray;
    padding-left: 5px;
}

/* homepage */
.images {
    padding-left: 20px;
    margin-bottom: 40px;
}

.h1-title {
    position: relative;
    margin-bottom: 10px;
}

.h1-title > span {
    position: relative;
    padding-right: 20px;
    color: white;
    background-color: rgb(20, 20, 30);
    z-index: 2;
}

.h1-title > span.reload {
    position: absolute;
    cursor: pointer;
    right: 0;
    padding-right: 0;
    padding-left: 20px;
    color: lightgray;
    user-select: none;
}

.h1-title > span.reload:hover {
    color: white;
}

.h1-title > hr {
    position: absolute;
    top: 8px;
    width: 100%;
    height: 4px;
    background-color: blueviolet;
    box-shadow: 0 0 10px blueviolet;
}

.h1-title.center {
    text-align: center;
}

.h1-title.center > span {
    padding-left: 20px;
}

/* iamges page */

#images h1, #farm h1 {
    margin-bottom: 30px;
}

#images-top, #farm-top {
    height: 180px;
}

#address-form {
    width: 525px;
    margin: auto;
}

#address-input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: rgb(40,40,60);
    color: lightgray;
}

#address-button {
    min-width: initial;
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}

.form-info {
    margin-top: 5px;
    color: red;
    font-size: 18px;
    padding-left: 10px;
}

/* farm */

#farm-bottom {
    width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 20px blueviolet;
    border-radius: 10px;
}

.yield {
    color: white;
    font-size: 20px;
}

.yield > span {
    color: lime;
}

.totalLikes {
    color: lightgray;
    font-size: 16px;
}

#harvest {
    margin-top: 20px;
}